.app {
  --bg-color-1: #9db3ed;
  --bg-color-2: #f9f9f9;
  --text-color-1: #0b1537;
  --text-color-2: #636363;
}

.app[data-theme="dark"] {
  --bg-color-1: #172d67;
  --bg-color-2: #050c26;
  --text-color-1: #fbfcfc;
  --text-color-2: #bbbcbc;
}

.custom-scroll::-webkit-scrollbar {
  height: 2vh;
  width: 2vw;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.14);
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

.app {

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_calculator {
  height: 80vh;
  width: 50vw;
  border-radius: 30px;
  box-shadow: 1px -1px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}









